<nb-layout>
  <nb-layout-column>
    <div class="container">
      <div class="imgHolder">
        <img class="imgLogo" src="../../assets/Ecorp.png" alt="" draggable="false">
      </div>
      <div class="loginBox">
        <div class="formContainer" [nbSpinner]="AwaitResponse">

          <form class="formHolder" (ngSubmit)="onSubmitLogin()" #formLogin="ngForm" *ngIf="LoginState">
            <p class="inputText">Email</p>
            <input name="email" email required class="inputField" nbInput fullWidth
              [status]="isEmailValid ? 'basic' : 'danger'" placeholder="Username" [ngModel]="email.value" required
              #email="ngModel">

            <p class="inputText">Password</p>
            <input type="password" name="password" required nbInput fullWidth
              [status]="isPassValid ? 'basic' : 'danger'" placeholder="Password" [ngModel]="password.value" required
              #password="ngModel">
            <p class="errorMSG">{{error}}</p>

            <div class="buttonHolder">
              <button nbButton hero class="btnRegister" status="info" type="button"
                (click)="changeLoginState()">REGISTER</button>
              <button nbButton hero status="primary">LOGIN</button>
            </div>
          </form>



          <form class="formHolder" (ngSubmit)="onSubmitRegister()" #formRegister="ngForm" *ngIf="!LoginState">

            <p class="inputText">Email</p>
            <input name="email" email required class="inputField" nbInput fullWidth
              [status]="isREmailValid ? 'basic' : 'danger'" placeholder="Username" [ngModel]="email.value" required
              #email="ngModel">
            <p class="inputText">Name</p>

            <input type="text" name="name" class="inputField" required nbInput fullWidth
              [status]="isRNameValid ? 'basic' : 'danger'" placeholder="Name" [ngModel]="name.value" required
              #name="ngModel">

            <p class="inputText">Password</p>
            <input type="password" name="password1" required nbInput fullWidth class="inputField"
              [status]="isRPassValid1 ? 'basic' : 'danger'" placeholder="Password" [ngModel]="password1.value" required
              #password1="ngModel">

            <p class="inputText">Re-Password</p>
            <input type="password" name="password2" required nbInput fullWidth minlength="7"
              [status]="isRPassValid2 ? 'basic' : 'danger'" placeholder="Retype Password" [ngModel]="password2.value" required
              #password2="ngModel">
            <p class="errorMSG">{{error}}</p>

            <div class="buttonHolder">
              <button nbButton hero class="btnRegister" status="info" type="button"
                (click)="changeLoginState()">LOGIN</button>
              <button nbButton hero status="warning">LETS GO!</button>
            </div>
          </form>
        </div>

      </div>
    </div>

  </nb-layout-column>
</nb-layout>