<div class="holder">

  <div class="main" *ngIf="!make">
    <p>{{promo.name}}</p>



    <ng-template #dialog let-data let-ref="dialogRef">
      <div class="popup">

        <h3>Confirm delete</h3>
        <div class="buttons">
          <button nbButton outline fullWidth status="info" (click)="ref.close()">NO</button>
          <button nbButton outline fullWidth status="warning" (click)="deleteThis();ref.close()"
            class="yes">YES</button>
        </div>
      </div>
    </ng-template>

    <div class="icons">
      <p class="amount">{{promo.amountoff}}%</p>
      <nb-icon class="icon edit" (click)="editThis()" icon="edit-outline"
        [options]="{ animation: { type: 'pulse' } }"></nb-icon>
      <nb-icon class="icon remove" (click)="sureDelete(dialog)" icon="trash-2-outline"
        [options]="{ animation: { type: 'pulse' } }"></nb-icon>

    </div>



  </div>

  <div class="ediHolder" *ngIf="doEdit || make">
    <form class="form" (ngSubmit)="onSubmit()" #editPromo="ngForm">

      <div class="inputs">


        <input name="name" required class="inputField name" nbInput fullWidth
          [status]="isNameValid ? 'basic' : 'danger'" placeholder="Name promo" [ngModel]="name.value" required
          #name="ngModel">

        <input name="amount" required class="inputField amount" nbInput fullWidth
          [status]="isAmountValid ? 'basic' : 'danger'" placeholder="%" [ngModel]="amount.value" required
          #amount="ngModel">

      </div>

      <p *ngIf="errorCode !== ''" class="errorText">{{errorCode}}</p>

      <div class="buttonHolder">
        <button nbButton outline status="primary">{{make ? "Create" : "Update"}}</button>
        <button nbButton outline (click)="clear()" type="button" status="danger">Clear</button>
      </div>
    </form>



  </div>

</div>