<div class="page">

  <div class="bannerholder">
    <img src="../../assets/banner.png" alt="">

  </div>

  <div class="slogun">
    <h1>Ecrop, your budget-friendly server solutions</h1>
  </div>

  <div class="textBlock block_a">

    <div class="textBlockText">

      <h5>Who are we?</h5>
      <p>We as Ecrop have the best cheap and affordable servers for everyone because we understand that not everyone can
        afford to
        spend a lot of money on technology. Our servers are high quality and reliable, yet still affordable for
        everyone.
        Plus, Our customer service is top-notch and always available to help with any issues or questions you may have. Overall,
        Ecrop is
        the perfect choice for those looking for a cost-effective solution for their server needs.</p>
    </div>

    <div class="textBlockImg">
      <img src="../../assets/server1.gif" style="height: 200px; margin-left: 20px;" alt="">
    </div>
  </div>

  <div class="textBlock block_b">

    <div class="textBlockImg">
      <img src="../../assets/server2.gif" style="height: 200px; margin: 0px 20px 0px 0px;" alt="">
    </div>

    <div class="textBlockText">
      <h5>Why you should invest in good servers!</h5>
      <p>Having good servers is important for your company because servers are what allow your business to operate
        smoothly and
        efficiently. They store and process all of your company's important data and handle all of the requests made
        by your
        employees and customers. If you have unreliable or slow servers, it can lead to issues such as downtime, data
        loss, and
        frustrated employees and customers. Investing in good servers ensures that your business is able to run
        smoothly and
        handle the demands placed upon it, which is essential for success in today's competitive business world.</p>
    </div>
  </div>

  <div class="textBlock block_c">
    <div class="textBlockText">
      <h5>Ecorp's server security</h5>
      <p>We at Ecorp take the security of our servers extremely seriously. We use the most advanced and effective
        security
        measures available, and our team of experienced professionals is constantly monitoring and analyzing our systems
        to
        identify any potential vulnerabilities. We also regularly update and patch our servers to fix any known issues,
        and we
        use firewalls and antivirus software to prevent malicious attacks. Plus, we back up all of your data regularly
        to ensure
        that it is never lost in case of an emergency. When you choose us for your server needs, you can trust that your
        data
        and operations are in the safest hands possible.</p>
    </div>

    <div class="textBlockImg">
      <img src="../../assets/server3.gif" style="height: 200px; margin: 0px 20px 0px 10px;" alt="">
    </div>

  </div>



</div>