.page {

}


.slogun {
    margin-top: -120px;
    margin-left: 10px;
}

.aboutus {
    display: flex;
    margin-top: 60px;

    h5 {
        color: #a16eff;
        margin: 0px;
    }
    
    p {
        margin: 0px;
        font-size: 17px;
        line-height: 22px;
    }
}

.manserver {
    img {
        border-radius: 10px;
    }
}


.bannerholder {

    img {
        width: 100%;
    }
}