.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323259;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  height: 30px;
  padding: 0px 10px;

  p {
    margin: 0px;
  }

  span {
    color: #fa0;
  }
}
