.mainHolder {
  display: flex;
  justify-content: space-between;
}
.previewHolder {
  width: 50%;
}

.cartHolder {
  display: flex;
  justify-content: center;
}

.previewTitle {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.buttonHolder {
  display: flex;
  justify-content: space-between;
}

.serverHolder {
  width: 100%;
}

.formHolder {
  width: 50%;
}

.inputText {
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  font-size: 20px;
  color: #0095ff;
}

.inputField {
  margin-bottom: 25px;
}

.extraConf {
  display: flex;
  justify-content: space-between;

  .promoCodes {
    width: 100%;
    h5 {
      margin: 40px 0px 0px 0px;
    }

    h3 {
      margin: 20px 0px 10px 0px;
    }
  }
  .users {
    width: 100%;

    h3 {
      margin: 20px 0px 10px 0px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .mainHolder {
    display: block;
  }
  .promoCodes {
    h5 {
      margin: 20px 0px 0px 0px !important;
    }

    h3 {
      margin: 50px 0px 10px 0px !important;
    }
  }

  .users {
    margin-top: 50px;
  }

  .extraConf {
    display: block;
  }

  .formHolder {
    width: 100%;
  }
  .previewHolder {
    width: 100%;
  }

  .previewHolder {
    display: block;
  }
}
