.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323259;
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
  height: 30px;
  padding: 0px 10px;

  p {
    margin: 0px;
  }
}

.remove {
    margin-left: 10px;
    color: #ff3d71;
}


.edit {
}

.popup {
  background-color: #1b1b38;
  padding: 10px 10px;
  width: 250px;
  border-radius: 10px;
  h3 {
justify-content: center;
    display: flex;
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
  }

  .yes {
    margin-left: 20px;
  }
}

.buttons {
  display: flex;

  button {
    width: 100%;
  }
}