<div class="container">
  <div class="topPanel">
    <div class="title">
      <h4>{{server?.name}}</h4>
    </div>
 
    <div class="stats">
      <table>
        <tr>
          <td>CPU:</td>
          <td>{{server?.cpu}}</td>
          <td>RAM:</td>
          <td>{{server?.ram}}</td>
        </tr>
        <tr>
          <td>SPACE:</td>
          <td>{{server?.space}}</td>
          <td>TYPE:</td>
          <td>{{server?.stype}}</td>
        </tr>
      </table>
    </div>

  </div>
  <div class="price">
    <div>
      <p><span>$ {{server?.price}}</span> <span class="pm"> p/m</span></p> 
      <nb-icon class="shoppingIcon iconPadding" icon="shopping-cart-outline" status="warning"  [options]="{ animation: { type: 'pulse' } }"></nb-icon>

    </div>
  </div>
</div>
