<nb-layout>

  <nb-layout-header fixed>
    <div class="mainNav">

      <div class="navHeader">

        <nb-icon (click)="toggleHamburger()" class="hamburger" icon="menu-outline"></nb-icon>

        <div class="navContainer">
          <div class="navLogo" (click)="switchPage('/')">
            <img class="logoImg" src="../../assets/EcorpSimple.png" alt="" (click)="switchPage('/')">
          </div>

          <div class="navButtons">
            <div [ngClass]="activeRoute === '/' ? 'activeRoute' : 'home'" (click)="switchPage('/')">
              <h5>home</h5>
            </div>
            <div [ngClass]="activeRoute === '/shop' ? 'activeRoute' : 'shop'" (click)="switchPage('/shop')">
              <h5>shop</h5>
            </div>
            <div *ngIf="showAdminPage" [ngClass]="activeRoute === '/admin' ? 'activeRoute' : 'admin'" (click)="switchPage('/admin')">
              <h5>admin</h5>
            </div>
          </div>
        </div>


        <div class="navUser">
          <div class="">
            <!-- <nb-icon class="shoppingIcon" icon="person-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon> -->
            <nb-icon class="shoppingIcon iconPadding" icon="shopping-cart-outline" status="warning"
              (click)="switchPage('/shopping-cart')" [options]="{ animation: { type: 'pulse' } }">
            </nb-icon>
          </div>
          <div *ngIf="amountShoppingCart > 0" class="cartBadge">
            <nb-badge [text]="amountShoppingCart.toString()" status="info" position="top left"></nb-badge>
          </div>
        </div>
      </div>
    </div>

    <div class="hamburgerMenu" *ngIf="showHamburger">
      <div [ngClass]="activeRoute === '/' ? 'activeRoute' : 'home'" (click)="switchPage('/')">
        <h5>home</h5>
      </div>
      <div [ngClass]="activeRoute === '/shop' ? 'activeRoute' : 'shop'" (click)="switchPage('/shop')">
        <h5>shop</h5>
      </div>
      <div *ngIf="showAdminPage" [ngClass]="activeRoute === '/admin' ? 'activeRoute' : 'admin'" (click)="switchPage('/admin')">
        <h5>admin</h5>
      </div>
    </div>

  </nb-layout-header>

  <nb-layout-column>
    <div class="widthGuard">
      <div class="mainPage">

        <div *ngIf="activeRoute === '/'">
          <app-banner></app-banner>
        </div>


        <div *ngIf="activeRoute !== '/'">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>